{ 
  "parser": "@babel/eslint-parser",
  "root": "true",
  "extends": ["airbnb-base"],
  "env": {
    "browser": "true",
  },
  "rules": {
    "no-alert": 0,
    "no-param-reassign": [2, { "props": "false" }],
    "no-plusplus": 0,
    "no-iterator": 0,
    "no-restricted-syntax": [2, "WithStatement"],
    "func-style": 0,
    "no-unused-vars": "error",
    "max-len": [1, 120, 2, {"ignoreComments": "true"}]
  },
}
