

.text-4rows {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

li {
  list-style: none;
  width: 45%;
}

.card-number {
  height: 100px;
  line-height: 100px;
}

.episode-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}