@font-face {
  font-family: "opensans";
  font-style: normal;
  font-weight: 400;
  src: local("opensans"), local("Opensans"), url("../assets/fonts/opensans.woff2");
}

* {
  font-family: "opensans", "Arial", sans-serif;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.payment-form {
  background-color: #f1f2f2;
  padding: 40px;
  border-radius: 20px;
  max-width: 500px;
  margin: 0 auto;

  &__input {
    height: 50px;
  }

  &__double {
    display: flex;
    gap: 20px;
  }

  &__label {
    width: 100%;
    position: relative;
  }

  &__label {
    width: 100%;
    position: relative;
  }

  &__img {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 30px;
    transform: translateY(-50%);
  }
}
